.App-Footer {
  display: flex;

  .ant-col {
    display: flex;
  }

  .ant-upload-drag {
    background-color: #eeeeee;
  }

  .column-content {
    margin: auto;
    padding: calc(10px + 4vmin);

    h2 {
      color: white;
    }
  }
}
