.App-Footer {
  background-color: #003399;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  &:hover {
    background-color: #002288;
  }

  p {
    color: #eeeeee;
    margin: 0;
  }

  .footerContent {
    flex: 1;
  }

}
