.App-Header {
    background-color: #eeeeee;
    color: black;
    min-height: 100vh;

    @media (min-width: 768px) {
        .column-content {
            min-height: 100vh;
            padding: calc(10px + 4vmin) !important;

            .titleHolder {
                .ant-dropdown-trigger {
                    display: none;
                }
            }

            .buttonHolder {
                margin-right: 0;
                margin-top: 0;
                margin-bottom: 100px;
                padding: 0 !important;

                .ant-dropdown-trigger {
                    display: inline-block !important;
                    padding: 0 20px 0 0;
                }

                button {
                    width: 240px !important;
                }

            }
        }
    }

    @media (min-width: 992px) {
        .column-content {

            .buttonHolder {
                margin-right: 20px;
                margin-top: 20px;
                padding: 0 !important;
            }
        }
    }

    >.ant-row {
        min-height: 100vh;
        justify-content: center;
    }

    .column-content {
        text-align: start;
        height: 100%;
        min-height: 50vh;

        &.col1 {
            display: flex;
            flex-direction: column;
            padding: calc(10px + 4vmin) calc(10px + 4vmin) 0 calc(10px + 4vmin);

            .titleHolder {
                display: flex;
                align-items: flex-start;
                flex-direction: row;


                .ant-dropdown-trigger {
                    min-width: 66px;
                    min-height: 40px;
                }
            }

            .footText {
                margin: 0;
                font-size: 12px;

                a {
                    color: rgba(0, 0, 0, 0.45);
                    text-decoration: underline;
                }

            }

        }

        &.col2 {
            display: flex;
            flex-direction: column;
            padding: 0 calc(10px + 4vmin) calc(10px + 4vmin) calc(10px + 4vmin);

            .buttonHolder {
                display: flex;
                padding: 20px;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;

                .ant-dropdown-trigger {
                    display: none;
                }

                button {
                    height: 80px;
                    width: 100%;
                    font-size: 32px;
                }
            }

        }

        h1 {
            font-size: calc(10px + 4vmin);
        }

        p {
            color: #333333;
        }

        li {
            font-size: calc(10px + 1vmin);
        }

        .img {
            content: "";
            flex-grow: 1;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            min-height: 50vh;
        }

    }
}

.ant-btn-primary {
    background: #003399;
    border-color: #003399;
    color: white;
}
