.App-Pass {
  display: flex;
  flex-direction: column;

  .ant-row {
    flex-grow: 1;
  }

  //.ant-col {
  //  display: flex;
  //}

  h1 {
    color: white;
  }

  .header {
    align-self: center;
  }

  .ant-card-body {
    text-align: start;
    p, b { //, .ant-col {
      display: block;
    }

    .ant-alert-message {
      text-align: center;
    }
  }

  .save-buttons {
    display: flex;
    flex-direction: column;

    .ant-btn {
      margin: 20px;
    }

  }

  .column-content {
    margin: auto;
    padding: calc(10px + 4vmin);

    h2 {
      color: white;
    }
  }
}
