.App-Pass {
  min-height: 100vh;

  >.ant-row {
    min-height: 100vh;
  }

  h1 {
    color: white;
    font-size: calc(10px + 4vmin);
    margin-top: 20px;
  }

  .header {
    align-self: center;
  }

  .ant-card-body {
    text-align: start;
    p, b {
      display: block;
    }

    .ant-alert-message {
      text-align: center;
    }
  }

  .save-buttons {


    @media (min-width: 768px) {
      .payBut {
        margin: 40px auto !important;
      }
    }

    .payBut {
      margin: 20px auto;
      height: 40px;
      width: 300px;
      display: block;
      transition: background-color 250ms;
      content: " ";
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px;

      &.gPay {
        background-color: darkgrey;
        cursor: not-allowed;

        background-size: 180px;
        //border: 1px solid #eee;
        //background-color: white;
        &:hover {
          //background-color: #eee;
        }
      }
      &.aPay {
        background-size: 160px;
        border: 1px solid #222;
        background-color: black;
        &:hover {
          background-color: #222;
        }
      }

    }

  }

  .column-content {
    margin: auto;
    padding: calc(10px + 4vmin);

    h2 {
      color: white;
    }
  }
}
