.App {
  text-align: center;
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Header {
  background-color: #eeeeee;
  color: black;
  flex-grow: 1;
}


.App-Footer {
  background-color: #003399;
  flex-grow: 1;
}

.App-Pass {
  background-color: #003399;
  flex-grow: 1;
}

.ant-spin {
  width: 100%;
}

.txtR {
  text-align: end;
}
.txtM {
  text-align: center;
}
