.App {
  text-align: center;
  background-color: #eeeeee;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Footer {
  background-color: #003399;
  flex-grow: 1;
}

.App-Pass {
  background-color: #003399;
  flex-grow: 1;
}

.ant-spin {
  width: 100%;
}

.txtR {
  text-align: end;
}
.txtM {
  text-align: center;
}

.fg {
  flex-grow: 1;
}
